@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// styles.scss

$font-body: Poppins, sans-serif;
$font-title: Montserrat, sans-serif;
$body-color: #212428;
$light-text: #c4cfde;
$box-bg: linear-gradient(145deg, #1e2024, #23272b);
$design-color: #ff014f;
$shadow-one: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
